<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.WxAccountMapper">
	<resultMap id="queryResultMap" type="com.example.demo.model.WxAccount">
		<!-- openid -->
		<result column="openid" property="openid" jdbcType="VARCHAR"/>
		<!-- appid -->
		<result column="appid" property="appid" jdbcType="VARCHAR"/>
		<!-- 关联的用户表的主键id -->
		<result column="userId" property="userId" jdbcType="VARCHAR"/>
		<!-- 删除时间 -->
		<result column="deleteTime" property="deleteTime" jdbcType="TIMESTAMP"/>
		<!-- 删除人id -->
		<result column="deleteUserId" property="deleteUserId" jdbcType="VARCHAR"/>
		<!-- 最后一次更新时间 -->
		<result column="updateLastTime" property="updateLastTime" jdbcType="TIMESTAMP"/>
		<!-- 创建时间 -->
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
		<!-- 是否被删除（0表示为删除，1表示已删除） -->
		<result column="isDeleted" property="isDeleted" jdbcType="INTEGER"/>
	</resultMap>
	<!-- 条件查询 -->
	<select id="search" parameterType="com.example.demo.model.WxAccount" resultType="com.example.demo.model.WxAccount">SELECT * FROM wxAccount t 
		<trim prefix="where " suffixOverrides="and"> 
			<if test="openid != null">openid=#{openid} and</if>  
			<if test="appid != null">appid=#{appid} and</if>  
			<if test="userId != null">userId=#{userId} and</if>  
			<if test="deleteTime != null">deleteTime=#{deleteTime} and</if>  
			<if test="deleteUserId != null">deleteUserId=#{deleteUserId} and</if>  
			<if test="updateLastTime != null">updateLastTime=#{updateLastTime} and</if>  
			<if test="createTime != null">createTime=#{createTime} and</if>  
			<if test="isDeleted != null">isDeleted=#{isDeleted} and</if> 
		</trim> 
	</select>
	<!-- 添加一个对象 -->
	<insert id="addOne" parameterType="com.example.demo.model.WxAccount">INSERT INTO wxAccount ( openid , appid , userId , deleteTime , deleteUserId , updateLastTime , createTime , isDeleted ) VALUES ( #{openid} , #{appid} , #{userId} , #{deleteTime} , #{deleteUserId} , #{updateLastTime} , #{createTime} , #{isDeleted} )</insert>
	<!-- 修改不为null的字段 -->
	<update id="update" parameterType="com.example.demo.model.WxAccount">UPDATE wxAccount 
		<set> 
			<if test="openid != null">openid=#{openid},</if>  
			<if test="appid != null">appid=#{appid},</if>  
			<if test="userId != null">userId=#{userId},</if>  
			<if test="deleteTime != null">deleteTime=#{deleteTime},</if>  
			<if test="deleteUserId != null">deleteUserId=#{deleteUserId},</if>  
			<if test="updateLastTime != null">updateLastTime=#{updateLastTime},</if>  
			<if test="createTime != null">createTime=#{createTime},</if>  
			<if test="isDeleted != null">isDeleted=#{isDeleted},</if> 
		</set> WHERE = #{}
	</update>
	<!-- 根据id获取一个对象 -->
	<select id="getOne" resultMap="queryResultMap" parameterType="com.example.demo.model.WxAccount">SELECT * FROM wxAccount t WHERE = #{} 
		<if test="isDeleted != null">and isDeleted=#{isDeleted}</if> 
	</select>
	<!-- 根据条件 逻辑删除对象 -->
	<update id="delete" parameterType="com.example.demo.model.WxAccount">update wxAccount set isDeleted = 1 
		<trim> 
			<if test="deleteTime != null">, deleteTime=#{deleteTime}</if>  
			<if test="deleteUserId != null">, deleteUserId=#{deleteUserId}</if> 
		</trim> where id=#{id}
	</update>
</mapper>
